modules = ["nodejs-20", "rust"]

[nix]
channel = "stable-25_05"
packages = ["openssl", "pkg-config"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Rust Solana Bundler"

[[workflows.workflow]]
name = "Rust Solana Bundler"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./target/debug/proxima-solana-bundler"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 43169
externalPort = 3000

[agent]
expertMode = true

[deployment]
deploymentTarget = "autoscale"
run = ["cargo", "run", "--release"]
